/*
Fonts
*/
@import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400italic);

* {
    box-sizing: border-box;
}

/*
Google Maps
*/
#map {
    width: 100%;
    height: 600px;
    background-color: gray;
    margin-bottom: 2rem;
}

.content-wrapper {
    max-width: 100%;
    margin-bottom: 2rem;
    margin: 0 auto;
}
.content {
    margin: 0 auto;
}

body{
    margin: 0;
    background-color: rgba(211, 188, 158, 0);
    max-width: 100% ;
}
h1 {
    font-family: "Nowbold", sans-serif;
    color: #1d71b8;
    font-weight: bold;
    font-size: 28pt;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 1rem;
}

h2 {
    font-family: "Nowbold", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 10pt;
}

h3 {
    font-family: "Nowbold", sans-serif;
    color: #1d71b8;
    font-weight: bold;
    font-size: 24pt;
}
p, .cards {
    font-family: "Vollkorn", serif;
    color: #3f464d;
    line-height: 1.4rem;
}

textarea {
    padding-top: 5px;
    border-radius: 10px;
    width: 100%;
    border-color: white;
    height: 17px;
}

ol {
    list-style: none;
    width: 100%;
    margin: auto;
    display: block;
    padding: 0;
}

.error {
    background-color: #1d71b8;
    width: 100%;
    min-height: 1000px;

}

.error h1, .error h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
}

.error a {
    color: white;
}
.error h1 {
    font-size: 30pt;

}

.error h2 {
    font-size: 18pt;

}

.error a {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 18pt;
    color: white;
}

.navigatie li {
    margin: 10px 8px;
    float: left;
}

.footer li {
    margin: 10px 8px;
    float: left;
}

.navigatie img {
    width: 30px;
    height: 30px;
    display: block;
}

.footer img {
    width: 20px;
    height: 20px;
    float: left;
  }
.navigatie {
    width: 100%;
    display: block;
}

ul {
    width: 80%;
    margin: auto auto;
    display: block;
    text-decoration: none;
    padding: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}

.navigatie a, .keuzes a {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 12pt;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #2b2b29;
    margin: auto;
    display: block;
}

.outerkeuzes {
    background-color: #1d71b8;
    width: 100%;
    display: block;
    box-shadow: 10px ;
}

.keuzes li {
    border: solid 1px #1d71b8;
    margin: 20px auto;
    display: block;
    background-color: white;
    border-radius: 10px;
    min-height: 10px;
}

iframe {
    width: 100%;
    min-height: 600px;
}


.indexnav ol {
    margin: 20px auto;

}

.indexnav li {
    border-bottom: 2px solid #1d71b8;
    border-radius: 3px;
    padding-bottom: 1em;
    width: 100%;
    margin: 10px 8px;
    float: left;

}

.indexnav a {
    width: 100%;
    margin: 20px 8px;

}

.indexnav img {
    margin-right: 10%;
    width: 40px;
    height: 40px;
}

.indexnav {
    width: 90%;
    display: block;
    margin: auto;
}
.indeximg img {
    padding-top: 30px;
    width: 20%;
    margin: auto;
    display: block;
}
.indexnav h2 {
    color: #1d71b8;
    float: left;
}

.indexnav img {
    float: left;

}
.indexnav h2 {
    width: 60%;
    display: block ;
}


.knop {
    background-color: white;
    width: 35%;
    height: 100px;
    margin: 5px 5px;
    display: block;
    float: left;
    border-radius: 5px;
}



.nav {
    background-color: #1d71b8;
    padding-top: 20px;
    width: 60%;
    margin: auto auto;

}

.eersterij, .tweederij {
    background-color: #1d71b8;
    margin: auto auto;
    display: block;
}

.contactimg img {
    width: 40%;
    height: auto;
    margin: 2rem auto;
    display: block;

}

.zoekenimg img {
    width: 30%;
    height: auto;
    margin: 30px auto;
    display: block;
}

.form {
    padding: 10px 0 10px 0;
    margin: auto;
    display: block;
    width: 80%;
}

.outerform {
    margin-top: 20px;
    padding-bottom: 1.6rem;
    background-color: #1d71b8 ;
    width: 100%;
    display: block;
}

.bericht {
    height: 100px;
}

.workspace h1 {
    margin: 2rem auto;
}

button {

    border-radius: 5px;
    width: 40%;
    height: 30px;
    margin: 20px 0;
    display: block;
    color: #1d71b8;
    background-color: white;
    border-color: white;

}

a {
    color: #7ecefc;
    text-decoration: none;
}
a:hover {
    color: #2186c4;
    text-decoration: underline;
}

.cards {
    float: left;
    padding: 2rem;
    margin-bottom: 2rem;
    border: 2px solid #ebebeb;
    border-radius: 5px;
}
span {
    display: inline-block;
}
.kunstenplan {
}
ul.kunstenplan, ul.events {
    list-style-type: none;
    padding: 0;
}
span.kunstenplan-namen, span.events-titel {
    font-family: "Nowregular", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #2186c4;
    margin-bottom: .8rem;
}
span.kunstenplan-link, span.events-link {
}
span.kunstenplan-categorie {
    font-style: italic;
    font-size: 1.1rem;
    margin-top: .8rem;
}
p.kunstenplan-beschrijving {
    max-width: 50%;
}
span.kunstenplan-btn, span.news-btn {
    font-family: "Nowbold", sans-serif;
    font-size: .9rem;
    text-transform: lowercase;
    color: #ff8066;
    cursor: pointer;
    border: 4px solid #ff8066;
    border-radius: 2.5rem;
    padding: .8rem 2rem;
    text-align: center;
}
span.kunstenplan-btn:hover {
    color: #ffffff;
    background-color: #ff8066;
}
span.events-image img {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;

}


.header h1 {
    color: #1d71b8;
    text-align: center;
    margin: 2rem auto;
    display: block;
    padding: 0;

}

.workspace {
    width: 80%;
    display: block;
    margin: auto;
}



.artikels {
    width: 100%;
    background-color: #1d71b8;
    /*voorlopig*/
    min-height: 700px;

}

.artikels p, .artikels h2 {
    color: #ffffff;
}

.artikel {
    width: 80%;
    margin: 15px auto;
    display: block;
    border: 3px white solid;
    border-radius: 5px;
}

.artikel img {
    width: 30%;
    height: auto;

}

.artikel-inhoud {
    float: right;
    width: 66%;
}

.footer ol{
    text-decoration: none;
    list-style: none;
}

.ftlogo {
    margin-right: 10%;
}

.news-btn {
    width: 100%;
    margin-bottom: 2rem;
}

.quiz {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    display: block;
}

.quiz-link {
    margin-bottom: 10.2rem;
}

.button-1, .button-2, .vraag {

    margin: 0 auto;
}

.vraag {
    width: 100%;
    font-family: "Nowbold", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 18pt;
    margin:  auto;
    text-align: center;
    display: block;
    padding-top: 2rem;
}

.button-1, .button-2 {
    width: 200px;
    margin: 1rem auto;
}



/*
Media Queries
*/
@media (min-width: 0rem) {
    .cards {
        width: 100%;
    }
    p.kunstenplan-beschrijving {
        max-width: 100%;
    }
    h1 {
        font-size: 18pt;
    }
}
@media (min-width: 20rem) {
    p.kunstenplan-beschrijving {
        max-width: 100%;
    }
    h1 {
        font-size: 20pt;
    }
}
@media (min-width: 30rem) {
    p.kunstenplan-beschrijving {
        max-width: 90%;
    }
    h1 {
        font-size: 22pt;
    }
}
@media (min-width: 42.5rem) {
    p.kunstenplan-beschrijving {
        max-width: 80%;
    }
    h1 {
        font-size: 24pt;
    }
}
@media (min-width: 60rem) {
    p.kunstenplan-beschrijving {
        max-width: 60%;
    }
    h1 {
        font-size: 26pt;
    }
}
@media (min-width: 71.25rem) {
    p.kunstenplan-beschrijving {
        max-width: 50%;
    }
    h1 {
        font-size: 28pt;
    }
}